* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-title {
  margin: 75% 0px;
  text-align: center;
  color: black;
}

li {
    margin-left: 10px;
    display: list-item;
    list-style-type: disc;
 }