* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.App {
	background-color: rgb(75, 73, 73);
}

.container {
	width: 80%;
	margin: auto;
	background-color: white;
	padding: 1.5rem 4.7rem;
}

.main-title {
	color: black;
	margin: 1rem 2rem;
}

ol {
	counter-reset: list;
}
ol > li {
	list-style: none;
	position: relative;
}
ol > li:before {
	counter-increment: list;
	content: "(" counter(list, lower-roman) ") ";
	position: absolute;
	left: -2rem;
	text-align: center;
}

.key-points {
	margin-left: 3rem;
}

.real-number-roots > p,
.real-number-roots > li {
	padding: 0.2rem 0px;
}
