* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 70%;
	margin: auto;
}

.main-title {
	color: black;
	margin: 1rem 2rem;
}

/* li {
	margin-left: 10px;
	display: list-item;
}

ol > li:before {
	counter-increment: list;
	content: counter(list, lower-alpha) ") ";
	position: absolute;
	left: -1.4em;
} */

ol {
	counter-reset: list;
}
ol > li {
	list-style: none;
	position: relative;
}
ol > li:before {
	counter-increment: list;
	content: "(" counter(list, lower-roman) ") ";
	position: absolute;
	left: -2rem;
	text-align: center;
}

.key-points {
	margin-left: 3rem;
}
